* {box-sizing: border-box;}
h2, h3 {font: normal normal 16px/1.4 Tahoma, sans-serif;color: #575753;margin: 0 0 5px 0;}
h3 {margin: 10px 0 5px 0;font-size: 14px;}
.container {display: flex;font: normal normal 12px/1.5 sans-serif;background: white;color: #333;margin: 0 10px 10px 5px;}
aside {padding-right: 10px;flex: 0 0 180px;}  main {width: 100%;}
.tab-row {display: flex;border-bottom: 1px solid #d6d6d6;margin-bottom: 10px;}
.tab {padding: 10px;user-select: none;}
.tab-selected {font-weight: bold;border: 1px solid #d6d6d6;border-radius: 3px 3px 0 0;border-bottom: none;box-shadow: 0px 2px 0px 0px #fff;}
.auto-resizable {max-width: 580px;max-height: 390px;overflow: auto;padding: 5px 10px;}
.form-link-list {margin-bottom: 5px}
a, .form-link:not(.form-link-selected), .tab:not(.tab-selected) {color: #125eae;text-decoration: none;cursor: pointer;}
.form-link-selected {font-weight: bold;}
.info-form-file {word-wrap: break-word;margin-top: 0;}
a:hover, .form-link:not(.form-link-selected):hover, .tab:not(.tab-selected):hover {background-color: #125eae;color: white;}
.tab:not(.tab-selected):hover {border-radius: 3px 3px 0 0;}
ul {margin: 0;padding: 0;list-style: none;}
li {padding: 0 0 2px 0;}
.option-check label {user-select: none;}
.option-check label[title] {text-decoration: underline #757575; text-decoration-style: dotted;}
.option {margin-bottom: 5px;}
.tooltip-copied {color: #fff;background-color: #333;border-radius: 6px;padding: 3px 8px;}
.render-location {margin-top: 5px;}
.spinner {margin-top: 10px;margin-left: auto;display: inline-block;width: 1.3rem;height: 1.3rem;vertical-align: text-bottom;border: .25em solid #575753;border-right-color: transparent;border-radius: 50%;-webkit-animation: spinner .75s linear infinite;animation: spinner .75s linear infinite;}
iframe {width: 100%; height: 100%; border: none; overflow: hidden}
@keyframes spinner { to { transform: rotate(360deg); } }
/* styles for Prism syntax highlighting */
pre {border-radius: 5px; border: 1px dotted silver; background: #f1f7ff;box-shadow: inset 1px 1px 10px #e9f1fd;padding: 10px;}
code {font-family: Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace;}
code[class*=language-], pre[class*=language-] {color: #000;text-shadow: 0 1px #ffffffc2;white-space: pre;word-spacing: normal;word-break: normal;word-wrap: normal;-moz-tab-size: 4;tab-size: 4;hyphens: none}
code[class*=language-] ::selection, code[class*=language-]::selection, pre[class*=language-] ::selection, pre[class*=language-]::selection {text-shadow: none;background: #b3d4fc}
.token.cdata, .token.comment, .token.doctype, .token.prolog {color: #708090}
.token.punctuation {color: #999}
.namespace {opacity: .7}
.token.boolean, .token.constant, .token.deleted, .token.number, .token.property, .token.symbol, .token.tag {color: #905}
.token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {color: #338d00}
.language-css .token.string, .token.entity, .token.operator, .token.url, .style .token.string {color: #9a6e3a}
.token.atrule, .token.attr-value, .token.keyword {color: #2282bb}
.token.class-name, .token.function {color: #e23140}
.token.important, .token.regex, .token.variable {color: #d59401}
.token.bold, .token.important {font-weight: 700}
.token.italic {font-style: italic}
.token.entity {cursor: help}
pre > code .token.deleted:not(.prefix) {background-color: rgba(255, 0, 0, .1);color: inherit;display: block}
pre > code .token.inserted:not(.prefix) {background-color: rgba(0, 255, 128, .1);color: inherit;display: block}
.language-latte .token.tag {color: #559d00;font-weight: 700}
.language-latte .token.attr-name {color: #89a315}
.language-latte .token.attr-value {color: #448ccb;font-weight: 700}
.language-latte .token.property {font-weight: 700}
.language-latte .token.ld .token.tag, .language-latte .token.n-attr .token.attr-name {color: #e03c3c;font-weight: 700}
[hidden] {display: none !important;}
